
.container-grid {
  display: grid; 
  gap: 1rem; 
  justify-items: center; 

  /* Define grid columns */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* This creates a responsive grid:
     - auto-fit Automatically adjusts the number of columns to fit the container's width
     - minmax Each column will be at least 240px wide and will expand to fill available space */

  grid-auto-rows: flex; 
}

/* Media query for medium screens and up */
@media screen and (min-width: 600px) {
  /* Class for taller cards */
  .card-tall {
      grid-row: span 2 / auto; 
  }

  /* Class for wider cards */
  .card-wide {
      grid-column: span 2 / auto; 
  }
}
